/* Landing page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.backgroundImage {
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: -99;
}

.landingBodyContainer {
  font-size: 20px;
}

.infoSection {
  margin-top: 100px;
  background-color: #fff;
  height: 500px;
}

.landingBodyContainer ul {
  list-style: none;
}

.landingNav img {
  width: 150px;
}

.mainHeading {
  color: #fff;
  font-size: 8vw;
  text-align: center;
}

.signupForm {
  margin-inline: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.signupForm label {
  color: #fff;
  font-size: 16px;
}

.signupForm input {
  font-size: 16px;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.signupButton {
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

/* Dating site */
