/* Landing page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.backgroundImage {
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: -99;
}

.landingBodyContainer {
  font-size: 20px;
}

.infoSection {
  margin-top: 100px;
  background-color: #fff;
  height: 500px;
}

.landingBodyContainer ul {
  list-style: none;
}

.landingNav img {
  width: 150px;
}

.mainHeading {
  color: #fff;
  font-size: 8vw;
  text-align: center;
}

.signupForm {
    margin-inline: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  
  .signupForm label {
    font-size: 16px;
  }
  
  .signupForm input {
    font-size: 16px;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .signupButton {
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
  }
  
  /* Dating site */

.pageContainer{
    display: flex;
    height: 100%;
}

@media (max-width: 800px) {
    .messageContainer {
      display: none !important;
    }
}

.messageContainer{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 40px;
    box-shadow: 0 0 10px 8px rgba(136, 136, 136, 0.2), 0 6px 20px 0 rgba(197, 197, 197, 0.19);
}

.user{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: rgb(211, 211, 211) 1px solid;
}

.userList{
    height: auto;
}
.profilePic{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-right: 30px;
}

.msgPic{
    padding: 2px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: #f0c43a solid 6px;
}
.matchInfo{
    margin-left: 20px;
}
.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.matchesList{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.match{
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding: 10px;
    cursor: pointer;
}

.match:hover{
    background-color: rgb(245, 245, 238); 
    box-shadow: 0 4px 12px 0 rgba(136, 136, 136, 0.2), 0 6px 20px 0 rgba(197, 197, 197, 0.19);
}

.animalName,
.expirationTime{
    margin: 0;
}

.expirationTime{
    color: rgb(139, 139, 139);
}

.switch {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 50px;
  }

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  border-radius: 20px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(236, 236, 236);
}

.slider:before {
  border-radius: 20px;
  position: absolute;
  height: 43px;
  width: 49%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  content: "";
}

input:checked + .slider:before {
  background-color: #ffffff;
  content: "";
}

input:checked + .slider:before {
  transform: translateX(100%);
}

.convText {
    color: #f0c43a;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 24%;
    font-size: 1vw;
}
.matchText
{
    color: rgb(119, 119, 119);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 75%;
    font-size: 1vw;
}

input:checked + .slider .matchText{
    color: #f0c43a;
}

input:checked + .slider .convText{
    color: rgb(119, 119, 119);
}